In [1]:
import pandas as pd
import numpy as np
from itertools import chain

In [2]:
df = pd.read_csv("./train.csv", engine='python', encoding="utf-8")

In [3]:
df.head(20)

,Date,stations,observation,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,station,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,station,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,station,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,station,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,station,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
5,2014/1/1,station,NO2,16,9.2,8.2,6.9,6.8,3.8,6.9,...,11,11,22,28,19,12,8.1,7,6.9,6
6,2014/1/1,station,NOx,17,9.8,8.7,8.6,8.5,5.3,8.8,...,14,13,25,30,21,13,9.7,8.6,8.7,7.5
7,2014/1/1,station,O3,16,30,27,23,24,28,24,...,65,64,51,34,33,34,37,38,38,36
8,2014/1/1,station,PM10,56,50,48,35,25,12,4,...,52,51,66,85,85,63,46,36,42,42
9,2014/1/1,station,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
10,2014/1/1,station,RAINFALL,NR,NR,NR,NR,NR,NR,NR,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
11,2014/1/1,station,RH,77,68,67,74,72,73,74,...,47,49,56,67,72,69,70,70,70,69
12,2014/1/1,station,SO2,1.8,2,1.7,1.6,1.9,1.4,1.5,...,3.9,4.4,9.9,5.1,3.4,2.3,2,1.9,1.9,1.9
13,2014/1/1,station,THC,2,2,2,1.9,1.9,1.8,1.9,...,1.9,1.9,1.9,2.1,2,1.9,1.9,1.9,1.9,1.9
14,2014/1/1,station,WD_HR,37,80,57,76,110,106,101,...,307,304,307,124,118,121,113,112,106,110
15,2014/1/1,station,WIND_DIREC,35,79,2.4,55,94,116,106,...,313,305,291,124,119,118,114,108,102,111
16,2014/1/1,station,WIND_SPEED,1.4,1.8,1,0.6,1.7,2.5,2.5,...,2.5,2.2,1.4,2.2,2.8,3,2.6,2.7,2.1,2.1
17,2014/1/1,station,WS_HR,0.5,0.9,0.6,0.3,0.6,1.9,2,...,2.1,2.1,1.9,1,2.5,2.5,2.8,2.6,2.4,2.3
18,2014/1/2,station,AMB_TEMP,16,15,15,14,14,15,16,...,24,24,23,21,20,19,18,18,18,18
19,2014/1/2,station,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8

In [4]:
df = df[df['observation']!="RAINFALL"]

In [5]:
df.head(20)

,Date,stations,observation,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,station,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,station,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,station,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,station,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,station,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
5,2014/1/1,station,NO2,16,9.2,8.2,6.9,6.8,3.8,6.9,...,11,11,22,28,19,12,8.1,7,6.9,6
6,2014/1/1,station,NOx,17,9.8,8.7,8.6,8.5,5.3,8.8,...,14,13,25,30,21,13,9.7,8.6,8.7,7.5
7,2014/1/1,station,O3,16,30,27,23,24,28,24,...,65,64,51,34,33,34,37,38,38,36
8,2014/1/1,station,PM10,56,50,48,35,25,12,4,...,52,51,66,85,85,63,46,36,42,42
9,2014/1/1,station,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
11,2014/1/1,station,RH,77,68,67,74,72,73,74,...,47,49,56,67,72,69,70,70,70,69
12,2014/1/1,station,SO2,1.8,2,1.7,1.6,1.9,1.4,1.5,...,3.9,4.4,9.9,5.1,3.4,2.3,2,1.9,1.9,1.9
13,2014/1/1,station,THC,2,2,2,1.9,1.9,1.8,1.9,...,1.9,1.9,1.9,2.1,2,1.9,1.9,1.9,1.9,1.9
14,2014/1/1,station,WD_HR,37,80,57,76,110,106,101,...,307,304,307,124,118,121,113,112,106,110
15,2014/1/1,station,WIND_DIREC,35,79,2.4,55,94,116,106,...,313,305,291,124,119,118,114,108,102,111
16,2014/1/1,station,WIND_SPEED,1.4,1.8,1,0.6,1.7,2.5,2.5,...,2.5,2.2,1.4,2.2,2.8,3,2.6,2.7,2.1,2.1
17,2014/1/1,station,WS_HR,0.5,0.9,0.6,0.3,0.6,1.9,2,...,2.1,2.1,1.9,1,2.5,2.5,2.8,2.6,2.4,2.3
18,2014/1/2,station,AMB_TEMP,16,15,15,14,14,15,16,...,24,24,23,21,20,19,18,18,18,18
19,2014/1/2,station,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
20,2014/1/2,station,CO,0.26,0.25,0.28,0.27,0.24,0.26,0.34,...,0.34,0.35,0.38,0.61,0.44,0.4,0.4,0.55,0.41,0.33

In [6]:
df.drop(['Date', 'stations', 'observation'], axis=1, inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,14,14,14,13,12,12,12,12,15,17,...,22,22,21,19,17,16,15,15,15,15
1,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,0.51,0.41,0.39,0.37,0.35,0.3,0.37,0.47,0.78,0.74,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,0.2,0.15,0.13,0.12,0.11,0.06,0.1,0.13,0.26,0.23,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,0.9,0.6,0.5,1.7,1.8,1.5,1.9,2.2,6.6,7.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [7]:
X_train = []
y_train = []

ItemNum = 17
for i in range(int(len(df)/ItemNum)):
    observation_data = df[i*ItemNum:(i+1)*ItemNum]
    for j in range(15):
        x = observation_data.iloc[:, j:j + 9]
        y = int(observation_data.iloc[9,j+9])
        X_train.append(x)
        y_train.append(y)

In [8]:
ItemNum = 17
for i in range(int(len(df)/ItemNum)):
    temp_data = df[i*ItemNum:(i+1)*ItemNum]
    for j in range(15):
        X = []
        for k in range(17):
            x = temp_data.iloc[k, j:j+9]
            X.append(x)
        X = list(chain(*X))
        X_train.append(X)
        y = temp_data.iloc[9, j+9]
        y_train.append(y)

In [9]:
X_train = np.array(X_train, dtype='float')
y_train = np.array(y_train, dtype='float')
print(X_train.shape)
print(y_train.shape)
print(X_train.dtype)
print(y_train.dtype)

(3600, 153)
(3600,)
float64
float64

In [10]:
from playML.LinearRegression import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit_gd(X_train, y_train, eta=0.000001)
print(lin_reg.coef_)
print(lin_reg.score(X_train, y_train))

-0.007016615092495915
0.8444101868825977

X = []
for j in range(17):
    x = temp_data.iloc[j, k:k+9]
    X.append(x)
np.array(x).shape

from itertools import chain
a = [1,2,3]
b = [4,5,6]
c= []
c.append(a)
c.append(b)
c = list(chain(*c))
c

from itertools import chain
temp_data = df[:17]
X = []
for k in range(17):
    x = temp_data.iloc[k, 0:9]
    X.append(x)
X = list(chain(*X))

np.array(X).shape

In [11]:
from sklearn.linear_model import SGDRegressor
sgd_reg = SGDRegressor(n_iter_no_change=50)
sgd_reg.fit(X_train, y_train)

E:\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1187: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=50, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [12]:
sgd_reg.score(X_train, y_train)

-2.302967532527875e+25

In [13]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lin_reg.score(X_train, y_train)

0.876473549173406

In [15]:
df_test = pd.read_csv("./test.csv", engine='python', encoding="utf-8", header=None)
df_test

          0           1     2     3     4     5     6     7     8     9     10
0       id_0    AMB_TEMP    15    14    14    13    13    13    13    13    12
1       id_0         CH4   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8
2       id_0          CO  0.36  0.35  0.34  0.33  0.33  0.34  0.34  0.37  0.42
3       id_0        NMHC  0.11  0.09  0.09   0.1   0.1   0.1   0.1  0.11  0.12
4       id_0          NO   0.6   0.4   0.3   0.3   0.3   0.7   0.8   0.8   0.9
...      ...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4315  id_239         THC   1.8   1.8   1.8   1.8   1.7   1.8   2.1     2   2.5
4316  id_239       WD_HR   105   105   110    99   101   104    82    59   256
4317  id_239  WIND_DIREC   108   107   103    89    85   104    82   303   268
4318  id_239  WIND_SPEED   1.4   1.7   1.9   1.7   1.6   1.4   0.6   0.8   1.2
4319  id_239       WS_HR   1.4   1.7   1.6   1.8   1.8   1.6   0.6   0.5   0.5

[4320 rows x 11 columns]

In [16]:
df_test = df_test[df_test[1]!='RAINFALL']
df_test.drop([0,1], axis=1, inplace=True)
df_test.head()

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     2     3     4     5     6     7     8     9     10
0    15    14    14    13    13    13    13    13    12
1   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8   1.8
2  0.36  0.35  0.34  0.33  0.33  0.34  0.34  0.37  0.42
3  0.11  0.09  0.09   0.1   0.1   0.1   0.1  0.11  0.12
4   0.6   0.4   0.3   0.3   0.3   0.7   0.8   0.8   0.9

In [17]:
X_test= []
ItemNum = 17
for i in range(int(len(df)/ItemNum)):
    temp_data = df[i*ItemNum:(i+1)*ItemNum]
    X = []
    for k in range(17):
        x = temp_data.iloc[k, 0:9]
        X.append(x)
    X = list(chain(*X))
    X_test.append(X)

X_test = np.array(X_test, dtype='float')
X_test.shape

(240, 153)

In [18]:
df_result = pd.read_csv("./result.csv", engine='python', encoding="utf-8")
df_result

     Unnamed: 0      id      value
0             0    id_0  23.323052
1             1    id_1  50.826149
2             2    id_2  17.770002
3             3    id_3  24.896309
4             4    id_4   9.889757
..          ...     ...        ...
235         235  id_235  19.345270
236         236  id_236  11.979824
237         237  id_237   1.802945
238         238  id_238  19.174320
239         239  id_239   2.745868

[240 rows x 3 columns]

In [19]:
df_result.drop(['Unnamed: 0','id'], axis=1, inplace=True)
df_result.head()
y_test = np.array(df_result, dtype='float')

In [20]:
lin_reg.score(X_test, y_test)

-0.5882924004960794

In [21]:
from sklearn.preprocessing import StandardScaler
standardScaler = StandardScaler()
standardScaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [22]:
X_train_standard = standardScaler.transform(X_train)

In [23]:
lin_reg2 = LinearRegression()
lin_reg2.fit(X_train_standard, y_train)
lin_reg2.score(X_train_standard, y_train)

0.876473549173406

In [24]:
standardScaler.fit(X_test)
X_test_standard = standardScaler.transform(X_test)
lin_reg2.score(X_test_standard, y_test)

-0.7474801287237038

In [25]:
from playML.LinearRegression import LinearRegression
lin_reg3 = LinearRegression()
lin_reg3.fit_sgd(X_train_standard, y_train)

LinearRegression

In [26]:
lin_reg3.score(X_train_standard, y_train)

-4.540404019697772e+146

In [27]:
sgd_reg2 = SGDRegressor(n_iter_no_change=50)
sgd_reg2.fit(X_train_standard, y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=50, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [28]:
sgd_reg2.score(X_train_standard, y_train)

0.8726625768439036

In [29]:
sgd_reg2.score(X_test_standard, y_test)

-0.8281098265238966